<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dqsy.sm.mapper.AdminMapper">
	<insert	 id="addAdmin" keyProperty="admin" >
		<selectKey keyProperty="deptId" keyColumn="dept_id" resultType="int" order="AFTER">
			select last_insert_id() as deptId
		</selectKey>
		insert into admin(name) values(#{name})
	</insert>

</mapper>